<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><a href='/'>HOME</a>&nbsp;&nbsp;&nbsp; <a href='/wereSquirrelStats'>SQUIRREL STATS</a></p>
    <h1>Create Duel</h1>
    <form action='/' method='post'>
      <p><label>Select Colonies</label></p>
      <select name='opponent1'>
        <option value='56325206953d026d44c8f87e'>Colony 1</option>
        <option value='56325206953d026d44c8f87f'>Colony 2</option>
        <option value='56325206953d026d44c8f880'>Colony 3</option>
        <option value='56325206953d026d44c8f881'>Colony 4</option>
      </select>
      <p>VS</p>
        <select name='opponent2'>
        <option value='56325206953d026d44c8f87e'>Colony 1</option>
        <option value='56325206953d026d44c8f87f'>Colony 2</option>
        <option value='56325206953d026d44c8f880'>Colony 3</option>
        <option value='56325206953d026d44c8f881'>Colony 4</option>
      </select>
      <p><input type='submit' value='Submit'></p>
    </form>

    <div>
      <h1>Winner: <h3><%= winner %></h3></h1>
      </div

      <h2><a href='/createDuel'>Create another duel</a></h2>

 

   


     



  </body>
</html>
